@use "../../style/variables";
@use "../../style/mixins";

.product {
  padding: 32px 12px 16px 12px;
  box-shadow: 0px 3px 19px 0px rgba(0, 0, 0, 0.22);
  border-radius: 10px;
  cursor: pointer;

  img {
    margin-bottom: 20px;
  }
}

.product-name {
  font-size: 15px;
  font-weight: variables.$light;
  margin-bottom: 12px;
}

.product-deal {
  color: variables.$font-gray-1;
  text-decoration: line-through;
}

.product-price {
  margin-bottom: 2px;
  font-size: 20px;
  font-weight: variables.$bold;
  color: variables.$font-gray-5;
}

.product-payment {
  margin-bottom: 5px;
  font-size: 12px;
  color: variables.$font-gray-5;
}

.product-freight {
  margin-bottom: 12px;
  font-size: 12px;
  color: variables.$main-color;
}

.product-button {
  @include mixins.button;
  width: 100%;
  padding: 15px 86px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: variables.$semibold;
  text-transform: uppercase;
}
