.products-categories {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    border: 1px solid grey;
    justify-items: center;
    text-transform: uppercase;

    li {
        display: block;
        width: 100%;
        padding: 12px 0;
        text-align: center;
        border-right: 1px solid grey;

        &:last-child {
            border: none
        }
    }
}

.products-container {
    display: flex;
    overflow: clip;
    overflow-clip-margin: 20px;
    padding-top: 20px;
    padding-bottom: 70px;
    gap: 62px;
}

.products-partners {
    display: flex;
    gap: 89px;
    padding-bottom: 60px;
}