.brands-container {
  display: flex;
  gap: 50px;
  overflow: clip;
  overflow-clip-margin: 20px;
  padding: 50px 0px 80px 24px;
}

.brand {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 210px;
  height: 210px;
  border-radius: 50%;
  box-shadow: 0 7px 20px 0 rgba(0, 0, 0, 0.22);
}
