@use "../../style/variables";

.products-sec-all {
  text-align: center;
  font-weight: variables.$bold;
  font-size: 15px;
  color: variables.$font-gray-5;
}

.products-sec-partners {
  display: flex;
  gap: 89px;
  padding: 88px 0px;
}
