@use '../../style/variables';

.header-benefits {
  display: flex;
  justify-content: center;
  gap: 120px;
  padding: 6px 0;

  li {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 12px;
    font-weight: variables.$medium;
    color: variables.$font-gray-1;
  }
}

.header-highlight {
  font-weight: variables.$semibold;
  color: variables.$main-color;
}

.header-main {
  display: flex;
  align-items: center;
  padding: 12px 55px;
  border-top: 1px solid variables.$border-header;
  border-bottom: 1px solid variables.$border-header;

  > svg {
    margin-right: 95px;
  }
}

.header-search {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  background-color: variables.$input-bg;
  border-radius: 10px;
  padding: 10px 10px 10px 24px;
  margin-right: 60px;

  input {
    flex: 1;
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 14px;
    font-weight: variables.$medium;
  }
}

.header-menu-icons {
  display: flex;
  align-items: center;
  gap: 32px;
}

.header-navbar {
  display: flex;
  justify-content: center;
  box-shadow: 0px 8px 16px 0px rgb(57, 48, 19, 12%);
  text-transform: uppercase;

  ul {
    display: flex;
    gap: 90px;
    padding: 10px 0;
  }

  li {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 12px;
    font-weight: variables.$semibold;
    color: variables.$font-gray-1;

    &:nth-child(6)  {
      color: variables.$main-color;
    }
  }
}
