$main-color: #f71963;
$white: #ffffff;
$blue: #041e50;
$black: #000000;

$font-gray-1: #9f9f9f;
$font-gray-2: #808080;
$font-gray-3: #4e4e4e;
$font-gray-4: #3f3f40;
$font-gray-5: #3b3b3b;

$input-bg: #f6f5f2;
$border-header: #f0f0f0;
$title-detail: #dedede;
$category-border: #bdbdbd;

$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$extra-bold: 800;
$black: 900;
