@use "../../style/variables";
@use "../../style/mixins";

.banner-bg {
  background-image: url("../../assets/img/banner.png");
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;

  > div {
    @include mixins.fade-bg;
    padding: 55px 0;
  }
}

.banner-main {
  font-size: 48px;
  font-weight: variables.$semibold;
}

.banner-sub {
  font-size: 36px;
  font-weight: variables.$semibold;
  margin-bottom: 30px;
}

.banner-button {
  @include mixins.button;
  font-weight: variables.$semibold;
  font-size: 18px;
  border-radius: 5px;
  padding: 16px 60px;
}
