.linkCard {
  background-image: url("../../assets/img/LinkCard.png");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
  overflow: hidden;

  > div {
    background-image: linear-gradient(to bottom, #00000000, #000000);
  }

  button {
    color: white;
    background-color: #f71963;
    border: none;
    border-radius: 10px;
    text-transform: uppercase;
    padding: 12px 24px;
    margin-top: 32px;
  }
}

.linkCard-content {
  color: white;
  padding: 120px 350px 40px 40px;
}
